body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
        font-family: 'Lato', sans-serif;


}

.full-section {
    height: 100vh;
}

.half-section {
        height: 50vh;
}

.auto-section {
    height:auto;
    padding-left: 20vw;
    padding-right: 20vw;
    color:white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: justify;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}


.main-section {
    background-image: url(../img/klawisze3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.contact-section {
text-align: center;
    color: white;
    padding-top: 20vh;
    border: dotted white 0.5px;
    margin: 8vw;
    border-radius: 5px;
}

div.letters-container {
    padding: 40vh 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3px;
    align-items: center;
    font-family: 'Monoton', cursive;
    font-size: 2rem;
}

div.key {
    height: 32px;
    width: 32px;
/*    border: 1px white solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    transition: all 0.07s;
    color: #00dbff;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    }

div.contact-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3px;
    align-items: flex-end;
}

div.contact-container2 {
    display: flex;
/*    flex-direction: column;*/
/*    flex-flow: row wrap;*/
    justify-content: center;
        border: dotted white 1px;

/*
    margin: 3px;
    align-items:flex-start;
*/
}

div.key2 {
        color: lightblue;
/*        width: 100vw;*/
}

div.playing {
    transform: scale(1.2);
    border-color: #ffff00;
    box-shadow: 0 0 10px #ffff00;
}

span {
    color: #ffff00;
    font-family: 'Lato', sans-serif;

}

span.pink {
    color: #ff06ff;
}

span.blue {
    color: #00dbff;
}

span.dblue {
    color: #0000e6;
}

span.green {
    color: #26fc04;
}

span.dgreen {
    color: #007b00;
}

i {
    color: #ffff00;
}

div.card {
    background-color: black;
    border: solid #ffff00 0.5px;
    border-style: dotted;
}

#navbarNav > ul > div> div > li > a {
        color: white;
}

h3 {
        font-family: 'Monoton', cursive;

}